In [2]:
# Import the required libraries and dependencies
import alpaca_trade_api as tradeapi
from dotenv import load_dotenv
import os
import pandas as pd

In [3]:
# Load the environment variables from the .env file 
# by calling the Load_dotenv function
load_dotenv()

True

In [4]:
# Set the variables for the Alpaca API Key, Alpaca Secret Key, and the Alpaca Url address.
key_id = os.getenv('ALPACA_API_KEY')
secret_key = os.getenv('ALPACA_SECRET_KEY')
base_url = 'https://paper_api.alpaca.markets'

In [5]:
# Create the tradeapi.Rest object
api = tradeapi.REST(
    key_id,
    secret_key,
    api_version="v2"
    )

In [6]:
# Set The Tickers for AAPL, MSFT, AMZN, FB, and GOOGL
tickers = ["AAPL", "MSFT", "AMZN","FB", "GOOGL"]

In [7]:
# Set your start and end dates as well as your isoformat
start_date_2018_01_01 = pd.Timestamp("2018-01-01", tz="America/New_York").isoformat()
end_date_2018_04_01 = pd.Timestamp("2018-04-01" , tz="America/New_York").isoformat()

In [8]:
# Set timeframe to 1D
timeframe = "1D"

In [9]:
#Use the current get_barset function to get current closing prices for the 5 stocks
def pull_data_1(x, y ):
    data_pull=api.get_barset(
            tickers,
            timeframe,
            start = x,
            end = y
        ).df
    return(data_pull)

In [10]:
# Set the start and end date to pull your data for four months at a time
stock_data_2018_01_04 = pull_data_1(start_date_2018_01_01, end_date_2018_04_01)

In [11]:
# Review the first five and last five rows
display(stock_data_2018_01_04.head())
display(stock_data_2018_01_04.tail())

                             AAPL                                       AMZN  \
                             open    high     low   close    volume     open
time
2018-01-02 00:00:00-05:00  170.16  172.30  169.26  172.26  20523941  1172.00
2018-01-03 00:00:00-05:00  172.53  174.55  171.96  172.18  23193409  1188.30
2018-01-04 00:00:00-05:00  172.54  173.47  172.08  173.02  17742231  1207.52
2018-01-05 00:00:00-05:00  173.44  175.37  173.05  174.96  18402859  1217.51
2018-01-08 00:00:00-05:00  174.31  175.61  173.93  174.34  15554212  1236.00

                                                               ...    GOOGL  \
                              high      low    close   volume  ...     open
time                                                           ...
2018-01-02 00:00:00-05:00  1190.00  1170.51  1189.00  1615329  ...  1053.02
2018-01-03 00:00:00-05:00  1205.49  1188.30  1202.74  1979510  ...  1073.93
2018-01-04 00:00:00-05:00  1215.87  1204.66  1209.64  1918318  ...  1097.09
2018-01-05 00:00:00-05:00  1229.14  1210.00  1229.07  2134446  ...  1103.45
2018-01-08 00:00:00-05:00  1253.08  1232.03  1246.95  2621390  ...  1111.00

                                                                MSFT         \
                              high      low    close  volume    open   high
time
2018-01-02 00:00:00-05:00  1075.98  1053.02  1073.44  876316  86.230  86.31
2018-01-03 00:00:00-05:00  1096.10  1073.43  1091.42  875901  86.055  86.51
2018-01-04 00:00:00-05:00  1104.08  1094.26  1096.00  719216  86.590  87.66
2018-01-05 00:00:00-05:00  1113.58  1101.80  1110.29  880887  87.660  88.41
2018-01-08 00:00:00-05:00  1119.16  1110.00  1114.00  625541  88.160  88.58


                               low  close    volume
time
2018-01-02 00:00:00-05:00  85.5000  85.91  15946903
2018-01-03 00:00:00-05:00  85.9700  86.33  18225043
2018-01-04 00:00:00-05:00  86.5700  87.12  16777774
2018-01-05 00:00:00-05:00  87.4300  88.11  16194855
2018-01-08 00:00:00-05:00  87.6046  88.22  13254610

[5 rows x 25 columns]

                              AAPL                                       AMZN  \
                              open    high     low   close    volume     open
time
2018-03-23 00:00:00-04:00  168.390  169.92  164.94  164.96  32035770  1539.01
2018-03-26 00:00:00-04:00  168.070  173.10  166.44  172.76  27980655  1530.00
2018-03-27 00:00:00-04:00  173.690  175.15  166.92  168.35  32610401  1572.15
2018-03-28 00:00:00-04:00  167.250  170.02  165.19  166.48  32621496  1452.00
2018-03-29 00:00:00-04:00  167.805  171.75  166.90  167.91  25762606  1407.00

                                                               ...    GOOGL  \
                              high      low    close   volume  ...     open
time                                                           ...
2018-03-23 00:00:00-04:00  1549.02  1495.36  1495.55  4669265  ...  1051.38
2018-03-26 00:00:00-04:00  1556.99  1499.25  1555.87  3216498  ...  1050.60
2018-03-27 00:00:00-04:00  1575.97  1482.32  1497.12  4066382  ...  1063.90
2018-03-28 00:00:00-04:00  1455.90  1386.17  1429.19  8194083  ...  1001.91
2018-03-29 00:00:00-04:00  1455.47  1365.20  1445.96  7667686  ...  1010.59

                                                                MSFT          \
                              high      low    close   volume   open    high
time
2018-03-23 00:00:00-04:00  1066.78  1024.87  1026.73  1313667  89.50  90.460
2018-03-26 00:00:00-04:00  1059.27  1010.58  1054.09  1831062  90.61  94.000
2018-03-27 00:00:00-04:00  1064.54   997.62  1007.46  1545462  94.94  95.139
2018-03-28 00:00:00-04:00  1024.99   984.00  1004.29  2199734  89.80  91.230
2018-03-29 00:00:00-04:00  1048.05  1004.04  1036.93  1847744  90.18  92.290


                              low  close    volume
time
2018-03-23 00:00:00-04:00  87.080  87.13  32580212
2018-03-26 00:00:00-04:00  90.400  93.77  44191077
2018-03-27 00:00:00-04:00  88.510  89.48  44401091
2018-03-28 00:00:00-04:00  88.873  89.38  44401426
2018-03-29 00:00:00-04:00  88.400  91.25  34220309

[5 rows x 25 columns]

In [12]:
# Set your start and end dates as well as your isoformat
start_date_2018_04_02 = pd.Timestamp("2018-04-02", tz="America/New_York").isoformat()
end_date_2018_07_01 = pd.Timestamp("2018-07-01" , tz="America/New_York").isoformat()

In [13]:
# Set the start and end date to pull your data four months at a time
stock_data_2018_04_07 = pull_data_1(start_date_2018_04_02, end_date_2018_07_01)

In [14]:
# Review the first five and last five rows
display(stock_data_2018_04_07.head())
display(stock_data_2018_04_07.tail(
    
))

                             AAPL                                      \
                             open      high     low   close    volume
time
2018-04-02 00:00:00-04:00  167.88  168.9400  164.47  166.68  30080214
2018-04-03 00:00:00-04:00  167.64  168.7455  164.88  168.39  23608807
2018-04-04 00:00:00-04:00  164.88  172.0100  164.77  171.58  27468450
2018-04-05 00:00:00-04:00  172.58  174.2304  172.08  172.78  21288394
2018-04-06 00:00:00-04:00  170.97  172.4800  168.20  168.35  26793087

                              AMZN                                      ...  \
                              open     high      low    close   volume  ...
time                                                                    ...
2018-04-02 00:00:00-04:00  1417.62  1421.36  1355.00  1371.92  6028133  ...
2018-04-03 00:00:00-04:00  1390.61  1414.00  1355.33  1392.05  6426994  ...
2018-04-04 00:00:00-04:00  1358.23  1415.39  1352.88  1410.58  4230642  ...
2018-04-05 00:00:00-04:00  1442.00  1459.56  1427.07  1451.75  3739195  ...
2018-04-06 00:00:00-04:00  1429.97  1452.50  1400.26  1405.21  3449309  ...

                             GOOGL                                       \
                              open     high       low    close   volume
time
2018-04-02 00:00:00-04:00  1028.20  1039.53   994.250  1012.77  1642137
2018-04-03 00:00:00-04:00  1016.15  1025.00   997.245  1018.33  1340086
2018-04-04 00:00:00-04:00   998.19  1032.74   996.510  1028.92  1431989
2018-04-05 00:00:00-04:00  1046.39  1046.71  1024.000  1032.36   890022
2018-04-06 00:00:00-04:00  1023.10  1036.00  1006.250  1009.54   981310

                             MSFT
                             open    high    low  close    volume
time
2018-04-02 00:00:00-04:00  90.470  90.880  87.51  88.67  37931104
2018-04-03 00:00:00-04:00  89.575  90.050  87.89  89.72  28700911
2018-04-04 00:00:00-04:00  87.910  92.760  87.73  92.27  28793052
2018-04-05 00:00:00-04:00  92.630  93.065  91.40  92.38  22595556
2018-04-06 00:00:00-04:00  91.490  92.460  89.48  90.22  27856851

[5 rows x 25 columns]

                               AAPL                                     \
                               open    high     low    close    volume
time
2018-06-25 00:00:00-04:00  183.4000  184.92  180.73  182.180  23549810
2018-06-26 00:00:00-04:00  182.8900  186.53  182.54  184.440  18733475
2018-06-27 00:00:00-04:00  185.2278  187.28  184.03  184.165  19664360
2018-06-28 00:00:00-04:00  184.1000  186.21  183.80  185.510  13497782
2018-06-29 00:00:00-04:00  186.2900  187.19  182.91  182.910  14503193

                              AMZN                                      ...  \
                              open     high      low    close   volume  ...
time                                                                    ...
2018-06-25 00:00:00-04:00  1702.25  1705.00  1646.31  1663.17  4160997  ...
2018-06-26 00:00:00-04:00  1672.37  1701.57  1663.34  1691.19  2360197  ...
2018-06-27 00:00:00-04:00  1708.11  1711.95  1660.00  1660.00  2563988  ...
2018-06-28 00:00:00-04:00  1671.51  1705.50  1661.17  1701.50  2616338  ...
2018-06-29 00:00:00-04:00  1717.00  1723.41  1694.32  1699.67  2474322  ...

                             GOOGL                                      \
                              open     high      low    close   volume
time
2018-06-25 00:00:00-04:00  1154.57  1155.99  1119.90  1139.28  1516497
2018-06-26 00:00:00-04:00  1144.14  1146.87  1129.00  1132.50   779483
2018-06-27 00:00:00-04:00  1136.00  1146.21  1116.70  1117.20   838246
2018-06-28 00:00:00-04:00  1112.39  1134.00  1106.07  1127.03   716955
2018-06-29 00:00:00-04:00  1131.95  1141.36  1127.02  1129.32   631942

                             MSFT
                             open    high    low  close    volume
time
2018-06-25 00:00:00-04:00  100.00  100.11  97.30  98.39  28800200
2018-06-26 00:00:00-04:00   98.84  100.08  98.75  99.07  19461329
2018-06-27 00:00:00-04:00   99.33  100.02  97.40  97.54  22794798
2018-06-28 00:00:00-04:00   97.41   99.11  97.26  98.63  20529720
2018-06-29 00:00:00-04:00   98.86   99.91  98.49  98.61  17372146

[5 rows x 25 columns]

In [15]:
# Set your start and end dates as well as your isoformat
start_date_2018_07_02 = pd.Timestamp("2018-07-02", tz="America/New_York").isoformat()
end_date_2018_11_01 = pd.Timestamp("2018-11-01" , tz="America/New_York").isoformat()

In [16]:
stock_data_2018_07_11 = pull_data_1(start_date_2018_07_02, end_date_2018_11_01)

In [17]:
# Review the first five and last five rows
display(stock_data_2018_07_11.head())
display(stock_data_2018_07_11.tail())

                             AAPL                                        AMZN  \
                             open     high     low   close    volume     open
time
2018-07-02 00:00:00-04:00  183.82  187.300  183.42  187.15  13335802  1682.70
2018-07-03 00:00:00-04:00  187.79  187.950  183.54  183.64  10840264  1723.96
2018-07-05 00:00:00-04:00  185.26  186.410  184.28  185.38  12922262  1706.05
2018-07-06 00:00:00-04:00  185.42  188.434  185.20  187.98  13353148  1698.01
2018-07-09 00:00:00-04:00  189.50  190.680  189.30  190.61  14632953  1723.76

                                                               ...    GOOGL  \
                              high      low    close   volume  ...     open
time                                                           ...
2018-07-02 00:00:00-04:00  1713.89  1678.06  1713.75  1844773  ...  1115.35
2018-07-03 00:00:00-04:00  1725.00  1692.48  1694.88  1224968  ...  1149.63
2018-07-05 00:00:00-04:00  1710.69  1682.15  1699.56  1756136  ...  1124.61
2018-07-06 00:00:00-04:00  1715.27  1691.67  1711.01  1379167  ...  1141.77
2018-07-09 00:00:00-04:00  1739.56  1716.23  1739.03  1575436  ...  1160.00

                                                                MSFT          \
                              high      low    close  volume    open    high
time
2018-07-02 00:00:00-04:00  1142.99  1106.60  1142.30  605404   98.10  100.06
2018-07-03 00:00:00-04:00  1149.91  1114.43  1116.28  422191  100.41  100.63
2018-07-05 00:00:00-04:00  1144.14  1123.12  1141.29  793419   99.50   99.92
2018-07-06 00:00:00-04:00  1156.20  1137.24  1155.21  527353   99.97  101.43
2018-07-09 00:00:00-04:00  1167.93  1157.23  1167.37  534258  101.57  102.25


                                low   close    volume
time
2018-07-02 00:00:00-04:00   98.0000  100.02  14373905
2018-07-03 00:00:00-04:00   98.9400   99.07  11317858
2018-07-05 00:00:00-04:00   99.0299   99.77  15256821
2018-07-06 00:00:00-04:00   99.6700  101.17  13909286
2018-07-09 00:00:00-04:00  101.2510  101.87  12523936

[5 rows x 25 columns]

                              AAPL                                    \
                              open    high     low   close    volume
time
2018-10-26 00:00:00-04:00  215.900  220.19  212.67  216.03  41258595
2018-10-29 00:00:00-04:00  219.255  219.69  206.09  212.55  36069395
2018-10-30 00:00:00-04:00  211.150  215.18  209.27  213.33  29704603
2018-10-31 00:00:00-04:00  216.880  220.45  216.62  218.75  31900983
2018-11-01 00:00:00-04:00  219.070  222.36  216.81  222.05  40261246

                               AMZN                                           \
                               open       high      low      close    volume
time
2018-10-26 00:00:00-04:00  1649.590  1698.4600  1603.00  1638.2800  11006965
2018-10-29 00:00:00-04:00  1659.795  1665.7383  1495.00  1538.6078  10690836
2018-10-30 00:00:00-04:00  1481.580  1540.9900  1476.36  1530.4200   9332567
2018-10-31 00:00:00-04:00  1569.110  1623.9100  1565.09  1599.1900   4602373
2018-11-01 00:00:00-04:00  1623.530  1670.4465  1598.44  1665.8600   7682121

                           ...    GOOGL                                      \
                           ...     open     high      low    close   volume
time                       ...
2018-10-26 00:00:00-04:00  ...  1048.54  1117.00  1042.23  1083.71  2895642
2018-10-29 00:00:00-04:00  ...  1096.54  1108.83  1007.20  1034.87  2345406
2018-10-30 00:00:00-04:00  ...  1023.92  1050.90  1013.97  1050.11  1589685
2018-10-31 00:00:00-04:00  ...  1071.00  1108.00  1068.20  1090.55  1962753
2018-11-01 00:00:00-04:00  ...  1091.50  1099.90  1077.82  1085.89  1095750

                             MSFT
                             open    high     low   close    volume
time
2018-10-26 00:00:00-04:00  105.55  108.75  104.76  106.96  43200754
2018-10-29 00:00:00-04:00  108.01  108.70  101.63  104.09  44852738
2018-10-30 00:00:00-04:00  103.66  104.38  100.11  103.75  55117624
2018-10-31 00:00:00-04:00  105.42  108.14  105.39  106.79  37988289
2018-11-01 00:00:00-04:00  107.08  107.32  105.53  105.91  26202582

[5 rows x 25 columns]

In [18]:
# Set your start and end dates as well as your isoformat
start_date_2018_11_02 = pd.Timestamp("2018-11-02", tz="America/New_York").isoformat()
end_date_2019_03_01 = pd.Timestamp("2019-03-01" , tz="America/New_York").isoformat()

In [19]:
stock_data_2018_11_03 = pull_data_1(start_date_2018_11_02, end_date_2019_03_01)

In [20]:
# Review the first five and last five rows
display(stock_data_2018_11_03.head())
display(stock_data_2018_11_03.tail())

                             AAPL                                       AMZN  \
                             open    high     low   close    volume     open
time
2018-11-02 00:00:00-04:00  209.55  213.89  205.43  206.14  82917876  1678.59
2018-11-05 00:00:00-05:00  204.30  204.39  198.17  201.59  51670747  1657.57
2018-11-06 00:00:00-05:00  201.92  204.72  201.69  203.78  27934956  1618.35
2018-11-07 00:00:00-05:00  205.89  210.01  204.13  209.91  26705827  1673.00
2018-11-08 00:00:00-05:00  209.94  210.12  206.75  208.49  19216333  1752.89

                                                                ...    GOOGL  \
                              high       low    close   volume  ...     open
time                                                            ...
2018-11-02 00:00:00-04:00  1697.44  1651.830  1665.58  6221611  ...  1088.86
2018-11-05 00:00:00-05:00  1658.09  1596.360  1627.45  5231856  ...  1072.53
2018-11-06 00:00:00-05:00  1665.00  1614.550  1642.86  4000487  ...  1055.02
2018-11-07 00:00:00-05:00  1759.23  1664.075  1757.36  7606948  ...  1084.23
2018-11-08 00:00:00-05:00  1784.00  1725.110  1754.95  3299391  ...  1107.30

                                                                   MSFT  \
                                high      low    close   volume    open
time
2018-11-02 00:00:00-04:00  1098.0000  1067.66  1072.69  1090396  106.43
2018-11-05 00:00:00-05:00  1073.3500  1034.00  1056.22  1179259  106.38
2018-11-06 00:00:00-05:00  1079.8200  1053.61  1069.78   675884  107.38
2018-11-07 00:00:00-05:00  1109.9299  1080.59  1107.85  1185733  109.44
2018-11-08 00:00:00-05:00  1108.2200  1084.36  1094.71   955537  111.79


                             high      low   close    volume
time
2018-11-02 00:00:00-04:00  107.32  104.975  106.15  28930155
2018-11-05 00:00:00-05:00  107.74  105.900  107.49  22902124
2018-11-06 00:00:00-05:00  108.84  106.280  107.71  18994437
2018-11-07 00:00:00-05:00  112.24  109.400  111.96  30323142
2018-11-08 00:00:00-05:00  112.21  110.910  111.79  20673762

[5 rows x 25 columns]

                             AAPL                                      \
                             open    high       low   close    volume
time
2019-02-25 00:00:00-05:00  174.16  175.87  173.9500  174.26  19540227
2019-02-26 00:00:00-05:00  173.71  175.30  173.1732  174.35  14716104
2019-02-27 00:00:00-05:00  173.26  175.00  172.7300  174.88  22408692
2019-02-28 00:00:00-05:00  174.32  174.91  172.9200  173.20  19815729
2019-03-01 00:00:00-05:00  174.28  175.15  172.8900  174.97  20830861

                              AMZN                                        ...  \
                              open     high        low    close   volume  ...
time                                                                      ...
2019-02-25 00:00:00-05:00  1641.45  1654.60  1630.3873  1633.00  2858663  ...
2019-02-26 00:00:00-05:00  1625.98  1639.99  1616.1335  1636.33  2387059  ...
2019-02-27 00:00:00-05:00  1628.18  1641.81  1615.1000  1641.09  2773023  ...
2019-02-28 00:00:00-05:00  1635.25  1651.77  1633.8300  1639.79  2439847  ...
2019-03-01 00:00:00-05:00  1653.74  1674.26  1651.0000  1671.26  4274122  ...

                             GOOGL                                       \
                              open      high      low    close   volume
time
2019-02-25 00:00:00-05:00  1124.30  1125.400  1114.11  1117.03  1055383
2019-02-26 00:00:00-05:00  1114.37  1126.435  1106.70  1122.00  1314597
2019-02-27 00:00:00-05:00  1114.01  1125.730  1108.56  1122.89   888829
2019-02-28 00:00:00-05:00  1120.05  1133.990  1118.41  1127.04  1056546
2019-03-01 00:00:00-05:00  1132.10  1150.000  1131.00  1147.92  1317656

                             MSFT
                             open    high      low   close    volume
time
2019-02-25 00:00:00-05:00  111.76  112.18  111.260  111.59  20242749
2019-02-26 00:00:00-05:00  111.26  113.24  111.170  112.36  18277715
2019-02-27 00:00:00-05:00  111.69  112.36  110.880  112.19  17312510
2019-02-28 00:00:00-05:00  112.04  112.88  111.730  112.05  19840129
2019-03-01 00:00:00-05:00  112.89  113.02  111.665  112.52  17168519

[5 rows x 25 columns]

In [21]:
# Set your start and end dates as well as your isoformat
start_date_2019_03_02 = pd.Timestamp("2019-03-02", tz="America/New_York").isoformat()
end_date_2019_07_01 = pd.Timestamp("2019-07-01" , tz="America/New_York").isoformat()

In [22]:
stock_data_2019_03_07 = pull_data_1(start_date_2019_03_02, end_date_2019_07_01)

In [23]:
# Review the first five and last five rows
display(stock_data_2019_03_07.head())
display(stock_data_2019_03_07.tail())

                             AAPL                                       AMZN  \
                             open    high     low   close    volume     open
time
2019-03-04 00:00:00-05:00  175.69  177.75  173.97  175.86  24195978  1685.00
2019-03-05 00:00:00-05:00  175.94  176.00  174.54  175.51  15413946  1702.95
2019-03-06 00:00:00-05:00  174.67  175.49  173.94  174.51  17535168  1695.97
2019-03-07 00:00:00-05:00  174.02  174.44  172.02  172.47  20110131  1667.06
2019-03-08 00:00:00-05:00  170.32  173.07  169.50  172.92  19475688  1604.01

                                                                 ...    GOOGL  \
                                high      low    close   volume  ...     open
time                                                             ...
2019-03-04 00:00:00-05:00  1709.4300  1674.36  1696.16  5635905  ...  1154.56
2019-03-05 00:00:00-05:00  1707.8000  1689.01  1691.81  3441803  ...  1156.00
2019-03-06 00:00:00-05:00  1697.7500  1668.28  1669.16  3715728  ...  1171.76
2019-03-07 00:00:00-05:00  1669.7534  1620.51  1626.28  4213562  ...  1160.50
2019-03-08 00:00:00-05:00  1622.7200  1586.57  1622.11  4139096  ...  1133.90

                                                                    MSFT  \
                                high       low    close   volume    open
time
2019-03-04 00:00:00-05:00  1165.5200  1138.250  1153.69  1432109  113.02
2019-03-05 00:00:00-05:00  1176.4899  1153.020  1168.98  1778223  112.25
2019-03-06 00:00:00-05:00  1174.7400  1163.050  1164.95  1023368  111.87
2019-03-07 00:00:00-05:00  1163.5800  1141.715  1151.56  1170172  111.40
2019-03-08 00:00:00-05:00  1153.4504  1130.200  1149.71  1012099  109.16


                             high      low   close    volume
time
2019-03-04 00:00:00-05:00  113.25  110.800  112.28  22345599
2019-03-05 00:00:00-05:00  112.39  111.230  111.68  13496616
2019-03-06 00:00:00-05:00  112.66  111.430  111.74  15184072
2019-03-07 00:00:00-05:00  111.55  109.865  110.38  18259392
2019-03-08 00:00:00-05:00  110.71  108.800  110.52  18892798

[5 rows x 25 columns]

                             AAPL                                       AMZN  \
                             open    high     low   close    volume     open
time
2019-06-25 00:00:00-04:00  198.43  199.26  195.29  195.57  18361798  1911.84
2019-06-26 00:00:00-04:00  197.83  200.99  197.35  199.80  22499633  1892.91
2019-06-27 00:00:00-04:00  200.29  201.57  199.57  199.73  15460769  1902.00
2019-06-28 00:00:00-04:00  199.24  199.40  197.05  197.92  18773228  1912.80
2019-07-01 00:00:00-04:00  203.17  204.49  200.65  201.68  24084814  1922.98

                                                                ...    GOOGL  \
                               high      low    close   volume  ...     open
time                                                            ...
2019-06-25 00:00:00-04:00  1916.385  1872.42  1878.64  2712393  ...  1115.08
2019-06-26 00:00:00-04:00  1903.800  1887.32  1897.75  2011515  ...  1088.57
2019-06-27 00:00:00-04:00  1911.240  1898.04  1903.67  1923521  ...  1086.75
2019-06-28 00:00:00-04:00  1912.800  1884.00  1889.83  2263386  ...  1079.15
2019-07-01 00:00:00-04:00  1929.820  1914.66  1922.26  2917672  ...  1101.04

                                                                     MSFT  \
                               high        low    close   volume     open
time
2019-06-25 00:00:00-04:00  1115.700  1084.5999  1087.98  1369235  137.250
2019-06-26 00:00:00-04:00  1095.120  1073.6873  1080.72  1466756  134.350
2019-06-27 00:00:00-04:00  1088.465  1075.8500  1076.54  1039483  134.140
2019-06-28 00:00:00-04:00  1082.790  1073.8000  1081.94  1132882  134.495
2019-07-01 00:00:00-04:00  1108.590  1095.3300  1099.63  1218173  136.630


                             high       low   close    volume
time
2019-06-25 00:00:00-04:00  137.59  132.7300  133.43  28861090
2019-06-26 00:00:00-04:00  135.74  133.6000  133.93  18589050
2019-06-27 00:00:00-04:00  134.71  133.5100  134.14  13350840
2019-06-28 00:00:00-04:00  134.58  133.1558  133.93  15208650
2019-07-01 00:00:00-04:00  136.70  134.9700  135.69  18770923

[5 rows x 25 columns]

In [24]:
# Set your start and end dates as well as your isoformat
start_date_2019_07_02 = pd.Timestamp("2019-07-02", tz="America/New_York").isoformat()
end_date_2019_11_01 = pd.Timestamp("2019-11-01" , tz="America/New_York").isoformat()

In [25]:
stock_data_2019_07_11 = pull_data_1(start_date_2019_07_02, end_date_2019_11_01)

In [26]:
# Review the first five and last five rows
display(stock_data_2019_07_11.head())
display(stock_data_2019_07_11.tail())

                             AAPL                                        \
                             open      high       low   close    volume
time
2019-07-02 00:00:00-04:00  201.41  203.1323  201.3600  202.71  15693876
2019-07-03 00:00:00-04:00  203.27  204.4400  202.6901  204.41   9285267
2019-07-05 00:00:00-04:00  203.35  205.0800  202.9000  204.25  14933941
2019-07-08 00:00:00-04:00  200.81  201.4000  198.4100  200.01  21987224
2019-07-09 00:00:00-04:00  199.20  201.5100  198.8100  201.22  17767726

                              AMZN                                        ...  \
                              open     high        low    close   volume  ...
time                                                                      ...
2019-07-02 00:00:00-04:00  1919.38  1934.79  1906.6300  1934.79  2407604  ...
2019-07-03 00:00:00-04:00  1935.89  1941.59  1930.5000  1939.00  1475704  ...
2019-07-05 00:00:00-04:00  1928.60  1945.90  1925.3000  1943.10  2418081  ...
2019-07-08 00:00:00-04:00  1934.12  1956.00  1928.2532  1952.33  2593566  ...
2019-07-09 00:00:00-04:00  1947.88  1990.01  1943.4750  1987.35  3966987  ...

                             GOOGL                                        \
                              open       high      low    close   volume
time
2019-07-02 00:00:00-04:00  1104.05  1112.8900  1099.67  1112.86   928738
2019-07-03 00:00:00-04:00  1118.50  1127.9873  1114.85  1122.41   860824
2019-07-05 00:00:00-04:00  1119.37  1134.6500  1117.50  1132.41  1206609
2019-07-08 00:00:00-04:00  1125.87  1127.2100  1111.76  1117.21  1230229
2019-07-09 00:00:00-04:00  1111.00  1127.8600  1107.15  1124.28  1237267

                             MSFT
                             open    high       low    close    volume
time
2019-07-02 00:00:00-04:00  136.12  136.59  135.3400  136.570  12885055
2019-07-03 00:00:00-04:00  136.79  137.74  136.2950  137.450  10872526
2019-07-05 00:00:00-04:00  135.94  137.33  135.7200  137.070  14788455
2019-07-08 00:00:00-04:00  136.40  137.10  135.3701  136.970  13660084
2019-07-09 00:00:00-04:00  136.00  136.97  135.8000  136.435  15894256

[5 rows x 25 columns]

                             AAPL                                       AMZN  \
                             open    high     low   close    volume     open
time
2019-10-28 00:00:00-04:00  247.42  249.25  246.72  249.04  22187260  1750.70
2019-10-29 00:00:00-04:00  248.97  249.75  242.57  243.29  32725739  1775.00
2019-10-30 00:00:00-04:00  244.76  245.30  241.21  243.29  25443913  1760.24
2019-10-31 00:00:00-04:00  247.24  249.17  237.26  248.84  29688327  1775.99
2019-11-01 00:00:00-04:00  249.54  255.93  249.16  255.84  33985331  1788.01

                                                                    ...  \
                               high        low      close   volume  ...
time                                                                ...
2019-10-28 00:00:00-04:00  1778.700  1742.5000  1777.0400  3399815  ...
2019-10-29 00:00:00-04:00  1777.000  1755.8100  1763.0400  2063458  ...
2019-10-30 00:00:00-04:00  1782.380  1759.1150  1780.0000  2194972  ...
2019-10-31 00:00:00-04:00  1792.000  1771.4753  1777.1431  2375710  ...
2019-11-01 00:00:00-04:00  1797.445  1785.2790  1791.4700  2375327  ...

                             GOOGL                                         \
                              open       high      low     close   volume
time
2019-10-28 00:00:00-04:00  1275.16  1299.2400  1272.31  1289.465  2434833
2019-10-29 00:00:00-04:00  1276.00  1280.8000  1255.61  1260.670  2350512
2019-10-30 00:00:00-04:00  1255.15  1268.0150  1250.65  1260.620  1216120
2019-10-31 00:00:00-04:00  1260.00  1266.5157  1249.48  1258.790  1048321
2019-11-01 00:00:00-04:00  1265.80  1273.0000  1259.71  1272.980  1074648

                             MSFT
                             open    high      low   close    volume
time
2019-10-28 00:00:00-04:00  144.40  145.67  143.510  144.20  31816013
2019-10-29 00:00:00-04:00  144.08  144.50  142.650  142.81  17578197
2019-10-30 00:00:00-04:00  143.52  145.00  142.790  144.56  16677432
2019-10-31 00:00:00-04:00  144.90  144.93  142.990  143.39  17913741
2019-11-01 00:00:00-04:00  144.26  144.42  142.965  143.72  23085759

[5 rows x 25 columns]

In [27]:
# Set your start and end dates as well as your isoformat
start_date_2019_11_02 = pd.Timestamp("2019-11-02", tz="America/New_York").isoformat()
end_date_2020__03_01 = pd.Timestamp("2020-03-01" , tz="America/New_York").isoformat()

In [28]:
stock_data_2019_11_03 = pull_data_1(start_date_2019_11_02, end_date_2020__03_01)

In [29]:
# Review the first five and last five rows
display(stock_data_2019_11_03.head())
display(stock_data_2019_11_03.tail())

                             AAPL                                      \
                             open     high      low   close    volume
time
2019-11-04 00:00:00-05:00  257.33  257.845  255.380  257.48  23618001
2019-11-05 00:00:00-05:00  257.05  258.190  256.320  257.15  17738372
2019-11-06 00:00:00-05:00  256.84  257.490  255.365  257.24  15328064
2019-11-07 00:00:00-05:00  258.74  260.350  258.110  259.50  22267200
2019-11-08 00:00:00-05:00  258.69  260.440  256.850  260.14  15896858

                              AMZN                                      ...  \
                              open     high      low    close   volume  ...
time                                                                    ...
2019-11-04 00:00:00-05:00  1801.50  1815.06  1801.01  1805.27  2513437  ...
2019-11-05 00:00:00-05:00  1809.16  1810.25  1794.00  1801.70  1650756  ...
2019-11-06 00:00:00-05:00  1801.00  1802.50  1788.58  1795.94  1790400  ...
2019-11-07 00:00:00-05:00  1803.76  1805.90  1783.48  1788.20  2365870  ...
2019-11-08 00:00:00-05:00  1787.89  1789.88  1774.04  1785.88  1930135  ...

                             GOOGL                                      \
                              open     high      low    close   volume
time
2019-11-04 00:00:00-05:00  1276.11  1292.50  1276.11  1289.61  1178212
2019-11-05 00:00:00-05:00  1291.20  1297.24  1289.38  1291.45   985981
2019-11-06 00:00:00-05:00  1290.05  1292.99  1282.27  1290.75   901847
2019-11-07 00:00:00-05:00  1295.00  1322.65  1293.75  1306.94  1821017
2019-11-08 00:00:00-05:00  1301.52  1317.11  1301.52  1308.97  1339515

                             MSFT
                             open    high      low   close    volume
time
2019-11-04 00:00:00-05:00  144.80  145.00  144.160  144.52  14542918
2019-11-05 00:00:00-05:00  144.97  145.02  143.905  144.46  14318658
2019-11-06 00:00:00-05:00  144.37  144.52  143.200  144.06  12956028
2019-11-07 00:00:00-05:00  143.84  144.88  143.770  144.28  14764862
2019-11-08 00:00:00-05:00  143.98  145.99  143.760  145.96  14457573

[5 rows x 25 columns]

                             AAPL                                       AMZN  \
                             open    high     low   close    volume     open
time
2020-02-24 00:00:00-05:00  297.26  304.18  289.23  298.17  49427633  2003.18
2020-02-25 00:00:00-05:00  300.95  302.53  286.13  288.08  52521891  2026.42
2020-02-26 00:00:00-05:00  286.53  297.88  286.50  292.69  46094168  1970.01
2020-02-27 00:00:00-05:00  281.10  286.00  272.96  273.04  72477356  1934.38
2020-02-28 00:00:00-05:00  257.26  278.41  256.37  274.64  96710951  1814.63

                                                                  ...  \
                               high        low    close   volume  ...
time                                                              ...
2020-02-24 00:00:00-05:00  2039.295  1987.9742  2008.74  6047539  ...
2020-02-25 00:00:00-05:00  2034.600  1958.4200  1970.65  5858950  ...
2020-02-26 00:00:00-05:00  2014.670  1960.4500  1979.61  4906059  ...
2020-02-27 00:00:00-05:00  1975.000  1882.7621  1882.88  7600123  ...
2020-02-28 00:00:00-05:00  1889.760  1811.1290  1889.18  8494919  ...

                             GOOGL                                       \
                              open      high      low    close   volume
time
2020-02-24 00:00:00-05:00  1423.05  1436.380  1406.79  1419.37  2152983
2020-02-25 00:00:00-05:00  1431.00  1436.847  1380.42  1386.22  2106339
2020-02-26 00:00:00-05:00  1394.98  1413.670  1376.55  1390.63  2408318
2020-02-27 00:00:00-05:00  1359.82  1369.400  1314.24  1314.72  2597481
2020-02-28 00:00:00-05:00  1274.31  1342.450  1268.21  1341.16  3465941

                             MSFT
                             open    high       low   close    volume
time
2020-02-24 00:00:00-05:00  167.77  174.55  163.2300  170.88  61441188
2020-02-25 00:00:00-05:00  174.20  174.84  167.6462  168.05  58615017
2020-02-26 00:00:00-05:00  169.71  173.26  168.2100  170.16  49097842
2020-02-27 00:00:00-05:00  163.37  167.03  157.9800  158.00  82876439
2020-02-28 00:00:00-05:00  152.41  163.71  152.0000  162.11  85148699

[5 rows x 25 columns]

In [30]:
# Set your start and end dates as well as your isoformat
start_date_2020_03_02 = pd.Timestamp("2020-03-02", tz="America/New_York").isoformat()
end_date_2020__07_01 = pd.Timestamp("2020-07-01" , tz="America/New_York").isoformat()

In [31]:
stock_data_2020_03_07 = pull_data_1(start_date_2020_03_02, end_date_2020__07_01)

In [32]:
# Review the first five and last five rows
display(stock_data_2020_03_07.head())
display(stock_data_2020_03_07.tail())

                             AAPL                                       AMZN  \
                             open    high     low   close    volume     open
time
2020-03-02 00:00:00-05:00  282.28  301.44  277.72  298.82  78891672  1905.26
2020-03-03 00:00:00-05:00  303.67  304.00  285.80  289.31  74214898  1973.00
2020-03-04 00:00:00-05:00  296.44  303.40  293.13  302.76  49969205  1946.57
2020-03-05 00:00:00-05:00  295.52  299.55  291.41  292.92  42089988  1933.00
2020-03-06 00:00:00-05:00  282.00  290.82  281.23  288.98  51462221  1875.00

                                                                 ...    GOOGL  \
                              high        low    close   volume  ...     open
time                                                             ...
2020-03-02 00:00:00-05:00  1954.51  1870.0000  1954.00  6115818  ...  1351.39
2020-03-03 00:00:00-05:00  1996.33  1888.0901  1908.88  6986980  ...  1397.68
2020-03-04 00:00:00-05:00  1978.00  1922.0000  1976.46  4261291  ...  1358.96
2020-03-05 00:00:00-05:00  1960.72  1910.0000  1924.03  4275800  ...  1346.99
2020-03-06 00:00:00-05:00  1910.87  1869.5000  1901.14  4771029  ...  1270.20

                                                                     MSFT  \
                              high        low      close   volume    open
time
2020-03-02 00:00:00-05:00  1387.47  1325.2000  1386.6401  2330698  165.31
2020-03-03 00:00:00-05:00  1408.19  1329.2421  1337.7200  2458902  173.80
2020-03-04 00:00:00-05:00  1382.78  1337.0000  1380.9200  1912387  168.48
2020-03-05 00:00:00-05:00  1353.63  1301.6400  1315.3300  2292572  166.10
2020-03-06 00:00:00-05:00  1302.75  1257.2100  1295.6900  2862411  162.61


                             high     low   close    volume
time
2020-03-02 00:00:00-05:00  172.92  162.31  172.85  59743368
2020-03-03 00:00:00-05:00  175.00  162.26  164.38  62650846
2020-03-04 00:00:00-05:00  170.70  165.62  170.54  41535592
2020-03-05 00:00:00-05:00  170.87  165.69  166.24  55003134
2020-03-06 00:00:00-05:00  163.11  156.00  161.57  64129134

[5 rows x 25 columns]

                             AAPL                                      \
                             open      high     low   close    volume
time
2020-06-25 00:00:00-04:00  360.70  365.0000  357.57  364.88  32015338
2020-06-26 00:00:00-04:00  364.41  365.3200  353.02  353.69  41255839
2020-06-29 00:00:00-04:00  353.25  362.1736  351.28  362.00  29154717
2020-06-30 00:00:00-04:00  360.08  365.9800  360.00  364.60  28884259
2020-07-01 00:00:00-04:00  365.12  367.3600  363.91  364.01  25429807

                               AMZN                                        \
                               open       high      low    close   volume
time
2020-06-25 00:00:00-04:00  2739.550  2756.2300  2712.14  2756.16  2695963
2020-06-26 00:00:00-04:00  2775.056  2782.5688  2688.00  2692.87  5494937
2020-06-29 00:00:00-04:00  2690.010  2696.8000  2630.08  2681.52  3895727
2020-06-30 00:00:00-04:00  2685.065  2769.6300  2675.03  2756.09  3188724
2020-07-01 00:00:00-04:00  2757.990  2895.0000  2754.00  2879.20  6112148

                           ...    GOOGL                                      \
                           ...     open     high      low    close   volume
time                       ...
2020-06-25 00:00:00-04:00  ...  1431.22  1442.32  1419.54  1441.15  1063889
2020-06-26 00:00:00-04:00  ...  1433.89  1437.02  1355.00  1362.14  3853374
2020-06-29 00:00:00-04:00  ...  1360.34  1398.00  1351.65  1398.00  2043748
2020-06-30 00:00:00-04:00  ...  1396.88  1424.00  1386.93  1417.92  1419202
2020-07-01 00:00:00-04:00  ...  1419.17  1448.48  1414.18  1442.60  1932776

                               MSFT
                               open    high       low   close    volume
time
2020-06-25 00:00:00-04:00  197.8000  200.61  195.4675  200.36  23934120
2020-06-26 00:00:00-04:00  199.7300  199.89  194.8800  196.33  38210230
2020-06-29 00:00:00-04:00  195.7800  198.53  193.5500  198.50  22635986
2020-06-30 00:00:00-04:00  197.8816  204.40  197.7400  203.50  26157887
2020-07-01 00:00:00-04:00  203.1400  206.35  201.7700  204.66  26758698

[5 rows x 25 columns]

In [33]:
# Set your start and end dates as well as your isoformat
start_date_2020_07_02 = pd.Timestamp("2020-07-02", tz="America/New_York").isoformat()
end_date_2020__11_01 = pd.Timestamp("2020-11-01" , tz="America/New_York").isoformat()

In [34]:
stock_data_2020_07_11 = pull_data_1(start_date_2020_07_02, end_date_2020__11_01)

In [35]:
# Review the first five and last five rows
display(stock_data_2020_07_11.head())
display(stock_data_2020_07_11.tail())

                             AAPL                                      \
                             open    high     low     close    volume
time
2020-07-02 00:00:00-04:00  367.85  370.47  363.65  364.1200  25332853
2020-07-06 00:00:00-04:00  370.00  375.78  369.87  373.8100  26084791
2020-07-07 00:00:00-04:00  375.41  378.62  372.23  372.6400  24610596
2020-07-08 00:00:00-04:00  376.72  381.50  376.36  381.4400  26025692
2020-07-09 00:00:00-04:00  385.05  393.91  378.69  382.6599  29212120

                              AMZN                                        ...  \
                              open     high        low    close   volume  ...
time                                                                      ...
2020-07-02 00:00:00-04:00  2912.01  2955.56  2871.1020  2887.56  6173373  ...
2020-07-06 00:00:00-04:00  2934.97  3059.88  2930.0000  3057.16  6493685  ...
2020-07-07 00:00:00-04:00  3058.55  3069.55  2990.0000  3000.12  4875944  ...
2020-07-08 00:00:00-04:00  3022.61  3083.97  3012.4302  3081.88  4687637  ...
2020-07-09 00:00:00-04:00  3115.99  3193.88  3074.0017  3183.81  6101864  ...

                             GOOGL                                          \
                              open       high       low     close   volume
time
2020-07-02 00:00:00-04:00  1451.84  1488.5200  1451.065  1469.800  2517791
2020-07-06 00:00:00-04:00  1488.15  1510.0000  1476.976  1499.660  1960308
2020-07-07 00:00:00-04:00  1496.13  1521.3200  1489.700  1489.920  1856318
2020-07-08 00:00:00-04:00  1500.80  1511.1700  1492.300  1503.155  1296330
2020-07-09 00:00:00-04:00  1509.93  1529.1412  1495.590  1518.380  1863494

                               MSFT
                               open    high     low   close    volume
time
2020-07-02 00:00:00-04:00  205.6800  208.02  205.00  206.21  25117323
2020-07-06 00:00:00-04:00  208.8335  211.13  208.09  210.69  26520093
2020-07-07 00:00:00-04:00  210.4500  214.67  207.99  208.24  28760244
2020-07-08 00:00:00-04:00  210.0700  213.26  208.69  212.84  28227213
2020-07-09 00:00:00-04:00  216.3300  216.38  211.47  214.40  29002968

[5 rows x 25 columns]

                             AAPL                                       \
                             open    high       low   close     volume
time
2020-10-26 00:00:00-04:00  114.01  116.55  112.8800  115.06   94591584
2020-10-27 00:00:00-04:00  115.49  117.28  114.5399  116.53   80663462
2020-10-28 00:00:00-04:00  115.05  115.43  111.1000  111.15  123242639
2020-10-29 00:00:00-04:00  112.37  116.93  112.2000  114.52  111552689
2020-10-30 00:00:00-04:00  111.06  111.99  107.7200  108.90  163824978

                              AMZN                                       ...  \
                              open      high      low    close   volume  ...
time                                                                     ...
2020-10-26 00:00:00-04:00  3199.63  3282.980  3153.30  3207.32  5228634  ...
2020-10-27 00:00:00-04:00  3224.94  3291.660  3211.30  3287.92  3742219  ...
2020-10-28 00:00:00-04:00  3249.29  3264.020  3162.47  3162.49  4840893  ...
2020-10-29 00:00:00-04:00  3201.27  3257.250  3164.00  3212.79  5352688  ...
2020-10-30 00:00:00-04:00  3157.75  3167.004  3019.00  3036.13  7556383  ...

                               GOOGL                                       \
                                open      high      low    close   volume
time
2020-10-26 00:00:00-04:00  1615.0000  1629.580  1567.78  1584.32  1299176
2020-10-27 00:00:00-04:00  1588.9319  1602.000  1576.99  1599.17   850228
2020-10-28 00:00:00-04:00  1550.0100  1553.810  1508.48  1510.44  1771470
2020-10-29 00:00:00-04:00  1517.0200  1588.735  1516.55  1555.19  1768782
2020-10-30 00:00:00-04:00  1667.4400  1681.315  1601.57  1616.26  4257042

                             MSFT
                             open      high      low   close    volume
time
2020-10-26 00:00:00-04:00  213.85  216.3399  208.100  210.15  29374749
2020-10-27 00:00:00-04:00  211.59  214.6700  210.329  213.15  25831216
2020-10-28 00:00:00-04:00  207.67  208.8400  202.100  202.71  41576211
2020-10-29 00:00:00-04:00  203.96  207.3600  203.370  204.39  25237813
2020-10-30 00:00:00-04:00  203.50  204.2900  199.620  202.58  27625644

[5 rows x 25 columns]

In [36]:
# Set your start and end dates a
start_date_2020_11_02 = pd.Timestamp("2020-11-02", tz="America/New_York").isoformat()
end_date_2021_03_01 = pd.Timestamp("2021-11-01" , tz="America/New_York").isoformat()

In [37]:
stock_data_2020_11_03 = pull_data_1(start_date_2020_11_02, end_date_2021_03_01)

In [38]:
# Review the first five and last five rows
display(stock_data_2020_11_03.head())
display(stock_data_2020_11_03.tail())

                             AAPL                                        \
                             open      high       low   close    volume
time
2021-03-24 00:00:00-04:00  122.82  122.9000  120.0650  120.07  78958064
2021-03-25 00:00:00-04:00  119.54  121.6600  119.0000  120.63  89156937
2021-03-26 00:00:00-04:00  120.35  121.4800  118.9200  121.21  79186956
2021-03-29 00:00:00-04:00  121.65  122.5800  120.7299  121.39  70495825
2021-03-30 00:00:00-04:00  120.11  120.4031  118.8600  119.88  76566683

                                AMZN                                       \
                                open     high       low    close   volume
time
2021-03-24 00:00:00-04:00  3151.0400  3160.31  3085.150  3087.17  2622965
2021-03-25 00:00:00-04:00  3072.9100  3109.78  3037.140  3046.26  3205209
2021-03-26 00:00:00-04:00  3044.0600  3056.66  2996.000  3053.14  2441802
2021-03-29 00:00:00-04:00  3055.4395  3091.25  3028.445  3076.76  2253856
2021-03-30 00:00:00-04:00  3070.0000  3073.00  3034.000  3054.70  2060154

                           ...    GOOGL                                \
                           ...     open      high        low    close
time                       ...
2021-03-24 00:00:00-04:00  ...  2051.76  2067.600  2029.0001  2033.23
2021-03-25 00:00:00-04:00  ...  2030.75  2045.640  1996.0900  2032.45
2021-03-26 00:00:00-04:00  ...  2028.01  2039.385  2003.8500  2025.48
2021-03-29 00:00:00-04:00  ...  2022.16  2049.210  2005.4500  2046.29
2021-03-30 00:00:00-04:00  ...  2052.24  2062.670  2036.1500  2046.71

                                      MSFT
                            volume    open    high     low   close    volume
time
2021-03-24 00:00:00-04:00   993291  237.79  238.00  235.32  235.46  21776897
2021-03-25 00:00:00-04:00  1544390  235.30  236.94  231.57  232.32  28875231
2021-03-26 00:00:00-04:00  1088381  231.83  236.71  231.55  236.48  18688030
2021-03-29 00:00:00-04:00   966751  236.81  236.80  231.88  235.27  18925230
2021-03-30 00:00:00-04:00  1029328  233.44  233.85  231.10  232.26  20255981

[5 rows x 25 columns]

                             AAPL                                       \
                             open      high     low    close    volume
time
2021-08-09 00:00:00-04:00  146.23  146.7000  145.52  146.090  39789209
2021-08-10 00:00:00-04:00  146.46  147.7100  145.30  145.610  58788673
2021-08-11 00:00:00-04:00  146.07  146.7200  145.53  145.910  44305648
2021-08-12 00:00:00-04:00  146.20  149.0500  145.84  148.885  65367573
2021-08-13 00:00:00-04:00  148.97  149.4444  148.27  149.100  54723818

                              AMZN                                       ...  \
                              open      high      low    close   volume  ...
time                                                                     ...
2021-08-09 00:00:00-04:00  3342.99  3354.880  3328.52  3341.33  1855088  ...
2021-08-10 00:00:00-04:00  3346.03  3358.000  3315.00  3321.32  2216562  ...
2021-08-11 00:00:00-04:00  3331.01  3337.700  3277.79  3292.22  2751447  ...
2021-08-12 00:00:00-04:00  3292.68  3314.510  3269.67  3302.70  2060437  ...
2021-08-13 00:00:00-04:00  3306.02  3306.065  3283.00  3293.96  1935404  ...

                             GOOGL                                       \
                              open      high       low    close  volume
time
2021-08-09 00:00:00-04:00  2719.85  2743.680  2706.785  2738.01  752296
2021-08-10 00:00:00-04:00  2745.83  2755.446  2727.290  2736.67  813688
2021-08-11 00:00:00-04:00  2743.19  2753.645  2725.430  2725.49  647750
2021-08-12 00:00:00-04:00  2722.12  2746.000  2708.510  2742.70  688819
2021-08-13 00:00:00-04:00  2748.18  2757.130  2740.660  2754.81  629542

                             MSFT
                             open    high     low   close    volume
time
2021-08-09 00:00:00-04:00  289.77  291.55  287.81  288.36  11951632
2021-08-10 00:00:00-04:00  288.76  289.25  285.20  286.49  14614279
2021-08-11 00:00:00-04:00  287.18  288.66  285.86  286.98  11365812
2021-08-12 00:00:00-04:00  286.62  289.97  286.34  289.65  11218889
2021-08-13 00:00:00-04:00  289.56  292.90  289.30  292.86  15288984

[5 rows x 25 columns]

In [39]:
# Set your start and end dates as well as your isoformat
start_date_2021_03_02 = pd.Timestamp("2021-03-02", tz="America/New_York").isoformat()
end_date_2021__07_01 = pd.Timestamp("2021-07-01" , tz="America/New_York").isoformat()

In [40]:
stock_data_2021_03_07 = pull_data_1(start_date_2021_03_02, end_date_2021__07_01)

In [41]:
# Review the first five and last five rows
display(stock_data_2021_03_07.head())
display(stock_data_2021_03_07.tail())

                             AAPL                                        \
                             open     high     low     close     volume
time
2021-03-02 00:00:00-05:00  128.41  128.720  125.01  125.1601   91481050
2021-03-03 00:00:00-05:00  124.81  125.710  121.84  122.0600   99851557
2021-03-04 00:00:00-05:00  121.75  123.600  118.62  120.2200  160007520
2021-03-05 00:00:00-05:00  120.98  121.935  117.57  121.3900  143229410
2021-03-08 00:00:00-05:00  120.93  121.000  116.21  116.4000  141360327

                              AMZN                                        ...  \
                              open      high      low     close   volume  ...
time                                                                      ...
2021-03-02 00:00:00-05:00  3143.47  3163.520  3087.12  3095.990  2354430  ...
2021-03-03 00:00:00-05:00  3081.18  3107.775  2995.00  3005.010  3619826  ...
2021-03-04 00:00:00-05:00  3012.00  3058.130  2945.43  2977.040  5291821  ...
2021-03-05 00:00:00-05:00  3005.00  3009.000  2881.00  3000.450  5094668  ...
2021-03-08 00:00:00-05:00  3015.00  3064.590  2951.31  2951.951  3754633  ...

                              GOOGL                                        \
                               open     high        low    close   volume
time
2021-03-02 00:00:00-05:00  2064.840  2094.74  2056.6700  2065.24  1042401
2021-03-03 00:00:00-05:00  2051.950  2075.99  1994.0000  2011.41  1508130
2021-03-04 00:00:00-05:00  2014.869  2074.59  2005.4300  2033.93  2325549
2021-03-05 00:00:00-05:00  2061.150  2106.20  2027.7773  2096.01  2461608
2021-03-08 00:00:00-05:00  2084.060  2113.74  2005.1900  2007.82  1603455

                               MSFT
                               open      high     low   close    volume
time
2021-03-02 00:00:00-05:00  237.0100  237.3000  233.45  233.87  19279808
2021-03-03 00:00:00-05:00  232.1550  233.5799  227.28  227.55  29197735
2021-03-04 00:00:00-05:00  226.7350  232.4900  224.26  226.90  40642140
2021-03-05 00:00:00-05:00  229.5165  233.2700  226.46  231.58  37372002
2021-03-08 00:00:00-05:00  231.3700  233.3650  227.13  227.42  31225291

[5 rows x 25 columns]

                             AAPL                                        AMZN  \
                             open     high     low   close    volume     open
time
2021-06-25 00:00:00-04:00  133.47  133.890  132.81  133.11  42633100  3463.40
2021-06-28 00:00:00-04:00  133.42  135.245  133.35  134.75  53815255  3415.01
2021-06-29 00:00:00-04:00  134.82  136.490  134.35  136.33  55081959  3440.00
2021-06-30 00:00:00-04:00  136.17  137.410  135.87  136.94  51014239  3443.00
2021-07-01 00:00:00-04:00  136.60  137.330  135.76  137.27  46267213  3436.00

                                                                   ...  \
                                high        low    close   volume  ...
time                                                               ...
2021-06-25 00:00:00-04:00  3464.8200  3394.1800  3404.90  3353035  ...
2021-06-28 00:00:00-04:00  3448.0000  3413.5098  3443.89  1928150  ...
2021-06-29 00:00:00-04:00  3456.0300  3423.0300  3449.48  1696088  ...
2021-06-30 00:00:00-04:00  3471.6018  3435.0000  3440.29  1959873  ...
2021-07-01 00:00:00-04:00  3457.0000  3409.4207  3432.98  1801106  ...

                             GOOGL                                         \
                              open      high       low     close   volume
time
2021-06-25 00:00:00-04:00  2441.63  2452.660  2431.305  2450.180   932717
2021-06-28 00:00:00-04:00  2451.00  2455.695  2428.110  2451.550  1119397
2021-06-29 00:00:00-04:00  2456.00  2460.415  2433.815  2444.890   826965
2021-06-30 00:00:00-04:00  2442.32  2445.140  2427.090  2441.389   916801
2021-07-01 00:00:00-04:00  2433.17  2451.740  2430.630  2448.890   753713

                             MSFT
                             open      high       low   close    volume
time
2021-06-25 00:00:00-04:00  266.30  267.2500  264.7600  265.02  15557867
2021-06-28 00:00:00-04:00  266.12  268.9000  265.9100  268.72  15758609
2021-06-29 00:00:00-04:00  268.88  271.6500  267.9800  271.40  16522614
2021-06-30 00:00:00-04:00  270.53  271.3598  269.6043  270.89  15264087
2021-07-01 00:00:00-04:00  269.66  271.8400  269.5900  271.72  13049694

[5 rows x 25 columns]

In [42]:
# Set your start and end dates as well as your isoformat
start_date_2021_07_02 = pd.Timestamp("2021-07-02", tz="America/New_York").isoformat()
end_date_2021__08_05 = pd.Timestamp("2021-08-05" , tz="America/New_York").isoformat()

In [43]:
stock_data_2021_07_08 = pull_data_1(start_date_2021_07_02, end_date_2021__08_05)

In [44]:
# Review the first five and last five rows
display(stock_data_2021_07_08.head())
display(stock_data_2021_07_08.tail())

                             AAPL                                      \
                             open    high       low   close    volume
time
2021-07-02 00:00:00-04:00  137.92  140.00  137.7450  139.96  69160944
2021-07-06 00:00:00-04:00  140.10  143.15  140.0700  142.02  97272256
2021-07-07 00:00:00-04:00  143.54  144.89  142.6600  144.59  93223232
2021-07-08 00:00:00-04:00  141.57  144.06  140.6650  143.32  94133450
2021-07-09 00:00:00-04:00  142.73  145.65  142.6522  145.11  89995907

                              AMZN                                            \
                              open       high        low      close   volume
time
2021-07-02 00:00:00-04:00  3451.50  3511.7200  3436.9200  3510.9900  2711182
2021-07-06 00:00:00-04:00  3530.11  3685.4800  3529.0000  3675.7200  6394617
2021-07-07 00:00:00-04:00  3716.30  3734.2000  3678.9100  3698.4900  4908220
2021-07-08 00:00:00-04:00  3643.99  3759.9856  3621.1200  3731.4200  4779980
2021-07-09 00:00:00-04:00  3723.88  3748.0000  3693.3967  3717.6802  3444757

                           ...    GOOGL                                        \
                           ...     open     high        low    close   volume
time                       ...
2021-07-02 00:00:00-04:00  ...  2460.99  2508.08  2461.1900  2505.68  1105587
2021-07-06 00:00:00-04:00  ...  2512.97  2528.56  2491.6501  2523.80  1093703
2021-07-07 00:00:00-04:00  ...  2540.32  2545.68  2523.0600  2529.47   992014
2021-07-08 00:00:00-04:00  ...  2487.35  2511.91  2480.4400  2501.85   992966
2021-07-09 00:00:00-04:00  ...  2500.79  2514.69  2491.0250  2509.13   735322

                             MSFT
                             open      high     low   close    volume
time
2021-07-02 00:00:00-04:00  272.77  278.0000  272.50  277.66  20947025
2021-07-06 00:00:00-04:00  278.01  279.3698  274.30  277.66  24080166
2021-07-07 00:00:00-04:00  279.40  280.6945  277.15  280.00  19959634
2021-07-08 00:00:00-04:00  276.82  278.7300  274.87  277.53  20138896
2021-07-09 00:00:00-04:00  275.60  278.0500  275.32  277.92  19294073

[5 rows x 25 columns]

                             AAPL                                       \
                             open     high     low     close    volume
time
2021-07-30 00:00:00-04:00  144.43  146.330  144.11  145.8600  57136664
2021-08-02 00:00:00-04:00  146.40  146.950  145.25  145.5200  54586967
2021-08-03 00:00:00-04:00  145.81  148.045  145.18  147.3402  58537157
2021-08-04 00:00:00-04:00  147.26  147.790  146.28  146.9400  47888758
2021-08-05 00:00:00-04:00  146.99  147.840  146.17  147.0600  41900554

                              AMZN                                      ...  \
                              open     high      low    close   volume  ...
time                                                                    ...
2021-07-30 00:00:00-04:00  3347.74  3368.14  3306.98  3327.59  9183755  ...
2021-08-02 00:00:00-04:00  3353.54  3358.92  3317.00  3331.69  2975068  ...
2021-08-03 00:00:00-04:00  3341.27  3391.00  3299.77  3366.91  3880868  ...
2021-08-04 00:00:00-04:00  3379.75  3388.88  3345.56  3354.71  1968989  ...
2021-08-05 00:00:00-04:00  3356.63  3389.00  3340.92  3376.10  2164293  ...

                             GOOGL                                        \
                              open     high        low    close   volume
time
2021-07-30 00:00:00-04:00  2701.01  2706.09  2685.1000  2695.00  1055241
2021-08-02 00:00:00-04:00  2703.01  2706.73  2675.8828  2697.45   893970
2021-08-03 00:00:00-04:00  2703.89  2714.64  2666.3900  2712.08   880492
2021-08-04 00:00:00-04:00  2704.71  2712.99  2689.7400  2702.00   814201
2021-08-05 00:00:00-04:00  2710.06  2727.00  2696.9200  2726.00   753276

                             MSFT
                             open      high     low   close    volume
time
2021-07-30 00:00:00-04:00  285.34  286.6600  283.91  284.95  16325594
2021-08-02 00:00:00-04:00  286.30  286.7750  283.74  284.83  13305162
2021-08-03 00:00:00-04:00  285.51  287.2300  284.21  287.12  14473180
2021-08-04 00:00:00-04:00  286.00  287.5883  284.65  286.46  13255592
2021-08-05 00:00:00-04:00  286.87  289.6300  286.10  289.55  11786498

[5 rows x 25 columns]

In [45]:
stock_data_frame_list = [
    stock_data_2018_01_04,
    stock_data_2018_04_07,
    stock_data_2018_07_11, 
    stock_data_2018_11_03, 
    stock_data_2019_03_07, 
    stock_data_2019_07_11,
    stock_data_2019_11_03,
    stock_data_2020_03_07,
    stock_data_2020_07_11,
    stock_data_2020_11_03,
    stock_data_2021_03_07,
    stock_data_2021_07_08
]
top_5_stocks = pd.concat(stock_data_frame_list)

In [46]:
# Review the first five and last five rows
display(top_5_stocks.head())
display(top_5_stocks.tail())

                             AAPL                                       AMZN  \
                             open    high     low   close    volume     open
time
2018-01-02 00:00:00-05:00  170.16  172.30  169.26  172.26  20523941  1172.00
2018-01-03 00:00:00-05:00  172.53  174.55  171.96  172.18  23193409  1188.30
2018-01-04 00:00:00-05:00  172.54  173.47  172.08  173.02  17742231  1207.52
2018-01-05 00:00:00-05:00  173.44  175.37  173.05  174.96  18402859  1217.51
2018-01-08 00:00:00-05:00  174.31  175.61  173.93  174.34  15554212  1236.00

                                                               ...    GOOGL  \
                              high      low    close   volume  ...     open
time                                                           ...
2018-01-02 00:00:00-05:00  1190.00  1170.51  1189.00  1615329  ...  1053.02
2018-01-03 00:00:00-05:00  1205.49  1188.30  1202.74  1979510  ...  1073.93
2018-01-04 00:00:00-05:00  1215.87  1204.66  1209.64  1918318  ...  1097.09
2018-01-05 00:00:00-05:00  1229.14  1210.00  1229.07  2134446  ...  1103.45
2018-01-08 00:00:00-05:00  1253.08  1232.03  1246.95  2621390  ...  1111.00

                                                                MSFT         \
                              high      low    close  volume    open   high
time
2018-01-02 00:00:00-05:00  1075.98  1053.02  1073.44  876316  86.230  86.31
2018-01-03 00:00:00-05:00  1096.10  1073.43  1091.42  875901  86.055  86.51
2018-01-04 00:00:00-05:00  1104.08  1094.26  1096.00  719216  86.590  87.66
2018-01-05 00:00:00-05:00  1113.58  1101.80  1110.29  880887  87.660  88.41
2018-01-08 00:00:00-05:00  1119.16  1110.00  1114.00  625541  88.160  88.58


                               low  close    volume
time
2018-01-02 00:00:00-05:00  85.5000  85.91  15946903
2018-01-03 00:00:00-05:00  85.9700  86.33  18225043
2018-01-04 00:00:00-05:00  86.5700  87.12  16777774
2018-01-05 00:00:00-05:00  87.4300  88.11  16194855
2018-01-08 00:00:00-05:00  87.6046  88.22  13254610

[5 rows x 25 columns]

                             AAPL                                       \
                             open     high     low     close    volume
time
2021-07-30 00:00:00-04:00  144.43  146.330  144.11  145.8600  57136664
2021-08-02 00:00:00-04:00  146.40  146.950  145.25  145.5200  54586967
2021-08-03 00:00:00-04:00  145.81  148.045  145.18  147.3402  58537157
2021-08-04 00:00:00-04:00  147.26  147.790  146.28  146.9400  47888758
2021-08-05 00:00:00-04:00  146.99  147.840  146.17  147.0600  41900554

                              AMZN                                      ...  \
                              open     high      low    close   volume  ...
time                                                                    ...
2021-07-30 00:00:00-04:00  3347.74  3368.14  3306.98  3327.59  9183755  ...
2021-08-02 00:00:00-04:00  3353.54  3358.92  3317.00  3331.69  2975068  ...
2021-08-03 00:00:00-04:00  3341.27  3391.00  3299.77  3366.91  3880868  ...
2021-08-04 00:00:00-04:00  3379.75  3388.88  3345.56  3354.71  1968989  ...
2021-08-05 00:00:00-04:00  3356.63  3389.00  3340.92  3376.10  2164293  ...

                             GOOGL                                        \
                              open     high        low    close   volume
time
2021-07-30 00:00:00-04:00  2701.01  2706.09  2685.1000  2695.00  1055241
2021-08-02 00:00:00-04:00  2703.01  2706.73  2675.8828  2697.45   893970
2021-08-03 00:00:00-04:00  2703.89  2714.64  2666.3900  2712.08   880492
2021-08-04 00:00:00-04:00  2704.71  2712.99  2689.7400  2702.00   814201
2021-08-05 00:00:00-04:00  2710.06  2727.00  2696.9200  2726.00   753276

                             MSFT
                             open      high     low   close    volume
time
2021-07-30 00:00:00-04:00  285.34  286.6600  283.91  284.95  16325594
2021-08-02 00:00:00-04:00  286.30  286.7750  283.74  284.83  13305162
2021-08-03 00:00:00-04:00  285.51  287.2300  284.21  287.12  14473180
2021-08-04 00:00:00-04:00  286.00  287.5883  284.65  286.46  13255592
2021-08-05 00:00:00-04:00  286.87  289.6300  286.10  289.55  11786498

[5 rows x 25 columns]

In [47]:
def pull():
    top_5_stocks_closing = pd.DataFrame()
    for ticker in tickers:
        top_5_stocks_closing[ticker] = top_5_stocks[ticker]["close"]
    columns_1 = ['AAPL_Close','MSFT_Close','AMZN_Close','FB_Close','GOOGL_Close']
    top_5_stocks_closing.columns = columns_1

    result = pd.concat([top_5_stocks_closing], axis=1)

    return(result)

In [48]:
# Review the first five and last five rows
top_5_stocks_close = pull()
top_5_stocks_close.head()

,AAPL_Close,MSFT_Close,AMZN_Close,FB_Close,GOOGL_Close
time,,,,,
2018-01-02 00:00:00-05:00,172.26,85.91,1189.00,181.43,1073.44
2018-01-03 00:00:00-05:00,172.18,86.33,1202.74,184.48,1091.42
2018-01-04 00:00:00-05:00,173.02,87.12,1209.64,184.32,1096.00
2018-01-05 00:00:00-05:00,174.96,88.11,1229.07,186.78,1110.29
2018-01-08 00:00:00-05:00,174.34,88.22,1246.95,188.25,1114.00

In [49]:
# Calculate the daily Returns
top_5_stocks_daily_returns = top_5_stocks_close.pct_change().dropna()
top_5_stocks_daily_returns.columns = tickers

top_5_stocks_daily_returns.head()

                               AAPL      MSFT      AMZN        FB     GOOGL
time
2018-01-03 00:00:00-05:00 -0.000464  0.004889  0.011556  0.016811  0.016750
2018-01-04 00:00:00-05:00  0.004879  0.009151  0.005737 -0.000867  0.004196
2018-01-05 00:00:00-05:00  0.011213  0.011364  0.016063  0.013346  0.013038
2018-01-08 00:00:00-05:00 -0.003544  0.001248  0.014548  0.007870  0.003341
2018-01-09 00:00:00-05:00 -0.000057  0.000113  0.004948 -0.001859 -0.000350

In [50]:
top_5_stocks_close.to_csv("top_5_stocks_closing_price.csv")